:root {
    --background: #282828;
    --foreground: #c7c7c7;
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  body {
    position: relative;
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    position: absolute;
    /* display: grid;  */
    height: 100vh; 
    width: 100vw;
    /* transform-origin: bottom right;  */
    /* grid-template-rows: 20px 1fr 20px;  */
    align-items: center; 
    justify-items: center; 
    /* padding: 2rem; */
  }
  
  .main {
    display: flex;
    flex-direction: column;
    gap: 32px;
    grid-row-start: 2;
    align-items: center;
    justify-content: center;
    background-color: #202020;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .wheel-container {
    position: relative;
    width: 90vh;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .spinBtn {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #242424;
    border: 4px solid #dadada;
    border-radius: 50%;
    z-index: 10;
    user-select: none;
    justify-content: center;
    flex-direction: column;
    display: flex;
    gap:15px;
    align-items: center;
  }
  
  .titre-spin {
    font-size: larger;
    font-weight: bold;
    text-shadow: 3px 5px 2px rgba(255, 255, 255, .25);
  }
  
  .auteur-spin {
    font-size: medium;
    font-weight: thin;
    color: rgba(255, 255, 255, .5);
  }
  
  .marker {
    position: absolute;
    width: 1px;
    height: 200px;
    background: transparent;
    z-index: 100;
    top: 30px;
  }
  
  .spinBtn::before {
    content: '';
    position: absolute;
    height: 40px;
    width: 30px;
    top: -40px;
    background: #dadada;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
  
  .wheel {
    box-shadow: rgba(255, 255, 255, 0.25) 0px 4px 8px -2px, rgba(255, 255, 255, 0.08) 0px 0px 0px 1px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    transition: transform 2s ease-in-out;
  }
  
  .pie-container {
    position: absolute;
    width: 50%;
    height: 50%;
    transform-origin: bottom right;
    background: #373737;
    clip-path: polygon(0 0, 11% 0, 100% 100%, 0 11%);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
  }
  
  .content {
    position: relative;
    rotate: 45deg;
    font-size: .5rem;
  }

.popup {
    display: flex;
    flex-direction: column;
    width: 36vw;
    height: 20vh;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 14px 6px rgba(255, 255, 255, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    justify-content: center;
    align-items: center;
    z-index: 0;
    opacity: 0;
}

.slide-in-blurred-top {
    z-index: 200;
	-webkit-animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

.slide-in-blurred-top-reverse {
    z-index: 0;
	-webkit-animation: slide-in-blurred-top-reverse 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-top-reverse 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2025-3-28 12:33:36
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-top
 * ----------------------------------------
 */

 @keyframes slide-in-blurred-top {
    0% {
      -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }

  
  @keyframes slide-in-blurred-top-reverse {
    0% {
        transform: translateY(0) scaleY(1) scaleX(1);
        transform-origin: 50% 50%;
        filter: blur(0);
        opacity: 1;
      
    }
    100% {
        transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        transform-origin: 50% 0%;
        filter: blur(40px);
        opacity: 0;
    }
  }

  